/**
 * All blocks CSS goes here - saves loading in each block's CSS separately, plus
 * we want some common CSS too.
 */

/*--------------------- Common css used in multiple blocks -------------------*/

.semla-border {
	border: 1px solid #8d96a0;
	border-radius: 4px;
	box-shadow: 0 0 0 transparent;
	padding: 3px 8px;
	transition: box-shadow 0.1s linear;
}
.semla-border-dashed {
	border-style: dashed;
}

/*--------------------- calendar -------------------*/

.editor-styles-wrapper .semla-cal-input {
	width: 100%;
	line-height: 1.5;
}

/*--------------------- club-title -------------*/

.semla-club-icon-empty {
	background-color: #f0f0f0;
	height: 150px;
	padding: 10px;
	display: flex;
	align-items: center;
	text-align: center;
}

/*--------------------- data -------------------*/

.semla-select {
	line-height: 1.5 !important;
}

/*--------------------- map -------------------*/

.semla-map-modal {
	width: 90%;
	max-height: 90%; /* override WP */
}
#semla-map-iframe {
	width: 100%;
	height: 400px;
}
.semla-map-instructions {
	margin-top: 0;
}
.semla-map-buttons {
	margin-left: 10px;
	float: right;
}
