.is-style-alpha {
	list-style-type: lower-alpha !important;
}
.is-style-roman {
	list-style-type: lower-roman !important;
}
.is-style-unstyled {
	list-style: none  !important;
}
.is-style-unstyled li {
	padding-left: 0 !important;
	margin-left: 0 !important;
}
.spaced > * > li {
    margin-bottom: 0.67em !important;
}
.medium-spaced > * > li {
    margin-bottom: 0.33em !important;
}
/** With classic themes .editor-styles-wrapper has 8px padding, but when
    there's a theme.json it is removed (at least in 5.9), so we add back
	in so the content doesn't butt up against sidebars */
.editor-styles-wrapper {
    padding: 8px
}
